<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HireAnEmployee.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Mozilla Chrome InternetExplorer -->
    <add key="Browser" value="Mozilla" />
    <add key="Username" value="hcm_impl" />
    <add key="Password" value="oxH84335" />
    <add key="Website" value="https://rws2-fap0857-hcm.oracledemos.com/" />
    <add key="PageLoadTimeout" value="60" />
    <add key="ElementLoadTimeout" value="2" />
  </appSettings>
  <applicationSettings>
    <HireAnEmployee.Properties.Settings>
      <setting name="ProgramGrid" serializeAs="String">
        <value>//div[@id='grid']</value>
      </setting>
    </HireAnEmployee.Properties.Settings>
  </applicationSettings>
</configuration>